<div class="eqLogic-widget eqLogic allowResize georide col-sm-12" style="width: 200px;height: 250px;padding : 0px;border:#border#;
border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#"
     data-version="dashboard">
  <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
  <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
  <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
    <div class="col-sm-10 center font-weight-bold">
        <a href="index.php?v=d&m=georide&p=georide&id=#eqid#">#eqname#</a>
    </div>
    <div class="col-sm-12 center" style="padding: 10px">
        <label class="col-sm-12">Status</label>
        <a class="btn cmd" style="display:inline" data-cmd_id="#lock_unlock_id#" title="#title-lock-unlock#"
           onclick="jeedom.cmd.execute({id: '#lock_unlock_id#'});"><i class="fas fa-4x #fa-lock-unlock#"></i></a>

    </div>
    <div class="col-sm-12" style="padding: 10px">
        <i class="fas fa-tachometer-alt" title="Vitesse" style="padding-right: 10px"></i>#speed_convert# km/h

    </div>
    <div class="col-sm-6 center" style="padding: 10px">
        <i title="#title-movement#" class="fas fa-2x #fa-walking#"></i>

    </div>
    <div class="col-sm-6 center" style="padding: 10px">
        <i title="#title-status#" class="fas fa-2x #fa-signal#"></i>
    </div>
</div>
